
body{
    background-color: seagreen;
    background-image: url(adsf6.2.png);
    background-position: center;
    background-size:cover;   
    font-family: Arial, Helvetica, sans-serif;
}
div.Container_Center{
    display: flex;
    justify-content: center;
}
div.Container_Right{
    display: flex;
    justify-content: right;
}
div.Container_Left{
    display: flex;
    justify-content: left;
}

header{
    color: salmon;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
}
div.Container_Navbar{
    background-image: url(3D_Blue_6.0.png);
    background-color: blue;
    background-position:top center;
    background-size: 99vw calc(10px + 6vh);
    background-repeat: no-repeat;
    width: 100vw;
}
#navbar li{
    display: inline;
    padding-left: 2.5vw;
}
#navbar a{
    color: salmon;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vw;
}
div.Container_Showcase{
    background-position: center;
    background-size: auto;  
    background-size: cover;
    background-image: url(adsf8.png); 

    text-align: center;
    font-size: 1.5vw;
}

div.Division_A{
    padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

img.image_1{
    height: 30vw;
    width: 30vw;
}


div.BKGRND_IMAGE_CONT_A{
    width: 100vw;
    height: 28vh;
    background-position:top center;
    background-image: url(3D_Green_0.0.png);
    background-repeat: no-repeat;
    background-size: 99vw calc(10px + 10vw);
}

div.BKGRND_IMAGE_CONT_H{
    width: 100vw;
    height: 28vh;
    background-position:top center;
    background-image: url(3D_VaporBrothers_Rose_0.0.png);
    background-repeat: no-repeat;
    background-size: 80vw 20vh;
}


div.TXT_CONT_A{
    padding-top: 0vw;
    padding-left: 2vw;
    width: 96vw;
    height:10vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
}

div.BLANK_CONT_A{
    width: 98vw;
    height:20vw - 15vw;
}