
body{

    height: 100vh;
    width: 100vw;

    background-color: transparent;
    background-image: url(adsf6.2.png);
    background-position:top center;
    background-size:100vw 100vh;
    background-attachment: fixed;   
    font-family: Arial, Helvetica, sans-serif;

    position: relative;

    border: solid 0vh chartreuse;

}
div.Container_Center{
    display: flex;
    justify-content: center;
}
div.Container_Right{
    display: flex;
    justify-content: right;
}
div.Container_Left{
    display: flex;
    justify-content: left;
}

header{
    color: salmon;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;


}
div.Container_Navbar{
    background-image: url(3D_Blue_6.0.png);
    background-color: blue;
    background-position:top center;
    background-size: 99vw calc(10px + 6vh);
    background-repeat: no-repeat;
    width: 100vw;


}


#navbar li{
    display: inline;
    padding-left: 2.5vw;





}
#navbar a{
    color: salmon;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vw;
}
div.Container_Showcase{
    background-position: center;
    background-size: auto;  
    background-size: cover;
    background-image: url(adsf8.png); 

    text-align: center;
    font-size: 1.5vw;
}

div.Division_A{
    padding-top: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

img.image_1{
    height: 30vw;
    width: 30vw;
}

div.BKGRND_IMAGE_CONT_A{
    width: 100vw;
    height: 32vh;
    background-position:top center;
    background-image: url(3D_Green_0.0.png);
    background-repeat: no-repeat;
    background-size: 99vw calc(10px + 17vw);
}

div.TXT_CONT_A{
    padding-top: 0vw;
    padding-left: 2vw;
    width: 96vw;
    height:10vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
}

div.stick_me{
    position: sticky;
    top: 0px;

    height: 100vh;
    width: 100vw;
}


div.BKGRND_IMAGE_CONT_H{


    width: 100vw;
    height: 20vh;
    background-position:top center;
    background-image: url(3D_Arizer_Rose_0.0.png);
    background-repeat: no-repeat;
    background-size: 80vw 20vh;
}


div.BLANK_CONT_A{
    width: 98vw;
    height:20vw - 15vw;
}



div.Container_Topbar_A
{
    float:left;
    width: 100%;
    height: 100%;
    background-color: transparent;

    background-image: url(3D_T_Blue_0.0.png);
    background-repeat: no-repeat;
    background-size: 75vw 100%;

    background-position-y: 1.5px;


    border: solid 0vh blue;

}


div.Container_Topbar_Box_A
{

    float:left;
    width: 48vw;
    height: 100%;
    background-color: transparent;

    border: solid 0vh red;


}

div.Container_Topbar_Box_B
{
    position: absolute;
    right: 0;

    float:left;
    width: 48vw;
    height: 100%;
    background-color: transparent;

    border: solid 0vh blue;

    justify-content: right;


}


div.fu{
    position: absolute;
    right: 0;

    text-align: right;

    width: 50vw;

    border: solid 0vh chartreuse;


}



.bg {
    background: linear-gradient(335deg, rgba(255,140,107,1) 0%, rgba(255,228,168,1) 100%);
    background-image: url(adsf6.3.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
  }

  .content{
    position: absolute;
    margin-top: 5rem;
    left: 50%; 
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
  }